@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.schoolbell {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

/* this is coz of tailwind doenst support color picker  */
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}